* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body {
    height: 4.68rem;
}

.page {
    text-align: left;
    background: #fff;
    padding: 0 0.25rem 0.25rem;
    position: relative;
    overflow: hidden;
}

.header {
    display: block;
    position: relative;
    height: 44px;
    line-height: 44px;
    background: #fff;
    font-size: 17px;
    z-index: 999;
    text-align: center;
}

.header .icon {
    top: 10px;
    background-image: url(../img/index6.png);
    width: 24px;
    height: 24px;
    overflow: hidden;
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: 0;
}


.wrap {
    margin-top: .2rem;
}

.notice-wrap {
    text-align: center;
    font-size: .16rem;
}

.pwd-icon {
    width: .88rem;
    height: .71rem;
    background: url(../img/pwd_icon.fa526d8.png) no-repeat;
    background-size: cover;
    margin: 0 auto;
    display: block;
}

.notice-info {
    font-size: .16rem;
    color: #2e2d2d;
    letter-spacing: 0;
    padding: .15rem 0 .35rem;
}

.input-container {
    padding-right: .5rem;
    height: .5rem;
    padding-top: .1rem;
    padding-bottom: .1rem;
    position: relative;
    overflow: hidden;
    margin-top: .1rem;
    background: #fff;
    border-bottom: .01rem solid #efefef;
    box-sizing: border-box;
}

.input-container .acc-input {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    line-height: normal;
    border-radius: 0;
    border: 0;
    font-size: .16rem;
    outline: none;
    display: block;
}

.input-container .checkbtn {
    position: absolute;
    display: block;
    width: .24rem;
    height: .24rem;
    background-image: url(../img/index12.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    box-sizing: border-box;
    top: .13rem;
    right: 0;
}

.set-notice {
    color: #c6c6c6;
    font-size: .14rem;
    padding-top: .09rem;
}

.btn {
    margin-top: .5rem;
    width: 100%;
    height: .5rem;
    line-height: .5rem;
    display: block;
    background-color: #efefef;
    border-radius: .25rem;
    font-size: .16rem;
    color: #fff;
    background-image: linear-gradient(90deg, #fab3b3, #ffbcb3 73%, #ffcaba);
    box-shadow: 0 .1rem 20px 0 rgba(255, 62, 62, .2);
    text-align: center;
    font-family: PingFangSC-Semibold;
}

.wrap .active{
    background-image: linear-gradient(90deg,#f10000,#ff2000 73%,#ff4f18);
}


.question-box {
    color: #999;
    margin-top: .21rem;
    font-size: .14rem;
}

.question-box a {
    color: #3b7adb;
}
